
<% if user_signed_in? %>
	<div class="page-header">
  	<h1>Spread Good Vibes!<p><small>Post your fave feel-good pins here!</small></p></h1>
	</div>

<% else %>
	<div class="hero-unit">
		<h1>Welcome to the Good Vibes sharing page!</h1>
		<p>
			Put some good vibes out into the universe now!
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>