
<% if user_signed_in? %>
	<div class="page-header">
  	<h1>First Pins<p><small>Make every day a first!</small></p></h1>
	</div>

<% else %>
	<div class="hero-unit">
		<h1>Welcome to TheFirstPlace!</h1>
		<p>
			When was the last time you did something for the first time?
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>