<h1>About</h1>
<p>
	<div class="hero-unit">
	  <h1>Welcome to TheFirstPlace!</h1>
	  <p>	<%= link_to "FirstPlace", "http://onemonthrails.com" %>
	is a project urging everyone to make each and every day a unique experience, to stay adventurous, and to never lose the drive to learn and experience new things! When was the last time you did something for the 

	<%= link_to "first", "http://rubyonrails.org" %>
	time?</p>
	  <p>
			<%= link_to "Post a new Win", new_pin_path, class: "btn btn-primary btn-large" %>
	    </a>
	  </p>
	</div>

</p>