<h1>About</h1>
<p>
	<div class="hero-unit">
	  <h1>Welcome to Good Vibes!</h1>
	  <p>	The <%= link_to "Good Vibes", "pure-refuge-5439.herokuapp.com/pins" %>
			sharing site based on the "Good Vibes" student group at Northeastern University.  Start spreading some virtual good vibes now! 
		</p>
	  
	  <p>
			<%= link_to "Share a Good Vibe", new_pin_path, class: "btn btn-primary btn-large" %>
	    </a>
	  </p>
	</div>

</p>